.calc {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.row {
  margin:5px 0;
}

.row input[type="button"] {
  width:42px;
  height:42px;
  margin:0 5px;
}